<div class="box box-primary">
    <div class="box-header with-border text-center">
        <h3 class="box-title ">User Management</h3>
    </div>
    <h4 class="ml10">Register User</h4>
    <form  #addUserForm="ngForm" name="addUserForm"  novalidate (ngSubmit)="saveUserDetails()">
        <div class="box-body">
            <div class="form-group">
                <label for="exampleInputEmail1">First Name<span class="astric">*</span></label>
                <input type="text" id="firstName" name="firstName" [(ngModel)]="user.firstName" class="form-control"  
                       #firstName="ngModel" placeholder="Enter first name" required/>
                <div class="has-error"  *ngIf="!submitted" >
                    <div *ngIf="firstName.errors && (firstName.dirty || firstName.touched) || submitted && firstName.errors">
                        Please enter the first name
                </div>
            </div>
            <div class="has-error"  *ngIf="submitted && firstName.invalid" >
                 <div *ngIf="firstName.errors.required">First name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Last Name<span class="astric">*</span></label>
            <input type="text" id="lastName" name="lastName" [(ngModel)]="user.lastName" class="form-control" 
                   #lastName="ngModel" placeholder="Enter last name" required/>
            <div class="has-error" *ngIf="!submitted">
                <div *ngIf="lastName.errors && (lastName.dirty || lastName.touched)">
                    Please enter the last name
            </div>
        </div>
        <div class="has-error"  *ngIf="submitted && lastName.invalid" >
             <div *ngIf="lastName.errors.required">Please enter the last name</div>
        </div>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email Address<span class="astric">*</span></label>
        <input type="text" id="emailer" name="emailer" [(ngModel)]="user.email" class="form-control" 
               #emailer="ngModel" pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$" required placeholder="Enter your email"/>
        <div *ngIf="emailer.errors && (emailer.dirty || emailer.touched) && !submitted" class="has-error">
            <div [hidden]="!emailer.errors.required">
                Email is required!
            </div>
            <div [hidden]="!emailer.errors.pattern">
                Please enter a valid email!
            </div>
        </div>
        <div class="has-error"  *ngIf="submitted && emailer.invalid" >
             <div *ngIf="emailer.errors.required">Email is required!</div>
            <div [hidden]="!emailer.errors.pattern">
                Please enter a valid email!
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Phone Number<span class="astric">*</span></label>

        <input type="text" (blur)="onBlur(user.mobile)" class="form_fields form-control" id="mobilenumber" required [(ngModel)]="user.mobile"
               name="mobilenumber" pattern="'^[0-9]*$'" minlength="10" maxlength="10" #mobile="ngModel" (keypress)="keyPress($event)" placeholder="Enter phone number" >
               <div class="has-error">
            <div *ngIf="showSelected && user.mobile != ''">
                Contact number should be 10 digit
        </div>
        <div *ngIf="(user.mobile == '' || user.mobile == undefined) && showSelected">
            Please enter the mobile no
    </div>
</div>
</div>
<div class="form-group" *ngIf="type != 'edit'">
    <label for="exampleRole">Password<span class="astric">*</span></label>
    <input class="form-control" minlength="6"  type="password" placeholder="Password" id="pwd"  required name="pwd" [(ngModel)]="user.password" #pwd="ngModel" />
    <div *ngIf="pwd.errors  && submitted" class="has-error">
        <div [hidden]="!pwd.errors.required">
            Please enter the password
        </div>
        <div [hidden]="!pwd.errors.minlength" class="has-error">
            Password should at least 6 character
        </div>
        <div *ngIf="passwordnotmatch" class="has-error">
            Password did not match
        </div>
    </div>
    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
</div>
<div class="form-group" *ngIf="type != 'edit'">
    <label for="exampleRole">Confirm Password<span class="astric">*</span></label>
    <input class="form-control" minlength="6"  type="confirmPassword" placeholder="ConfirmPassword" id="cpwd"  required name="cpwd" [(ngModel)]="user.confirmPassword" #cpwd="ngModel" />
    <div *ngIf="cpwd.errors  && submitted" class="has-error">
        <div [hidden]="!cpwd.errors.required">
            Please enter the password
        </div>
        <div [hidden]="!cpwd.errors.minlength" class="has-error">
            Password should at least 6 character
        </div>
         <div *ngIf="passwordnotmatch" class="has-error">
             Password did not match
        </div>
    </div>
    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
</div>


    

</div>
<div class="box-footer">
    <p>
        <span class="astric">*</span>mandatory fields
    </p>
    <a  routerLink="/login" *ngIf="user.type != 'edit'" class="btn btn-default">Cancel</a> &nbsp;
    <a  *ngIf="user.type === 'edit'" (click)="reset()" class="btn btn-default">Cancel</a> &nbsp;
    <button type="submit" class="btn btn-primary">{{type == 'edit' ? 'Save':'Create'}}</button>
</div>
</form>
</div>




